body, html {
    height: 100%;
    margin: 0;
    font-family: 'Garamond', serif; 
    background-image: url(hogwarts.jpg.webp); 
    background-size: cover;
    background-position: center;
    position: relative; 
}

.social-icons {
    position: absolute; 
    top: 40px; 
    right: 40px; 
    display: flex; /
}

.social-icons a {
    color: #FFD700; 
    font-size: 40px; 
    margin-left: 10px; 
    text-decoration: none; 
}

.social-icons a:hover {
    color: #FFFFFF; 
}

.login-container, .signup-container {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 40px; 
    border-radius: 12px; 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7); 
    width: 300px; /* Fixed width for the container 
    text-align: center;
}

h2 {
    margin-bottom: 25px; 
    color: #FFD700; 
    font-family: 'Harry Potter', cursive; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.input-container {
    position: relative;
    margin: 10px 0;
    width: 100%; 
}

.input-container input[type="text"],
.input-container input[type="password"],
.input-container input[type="email"] {
    width: 100%;
    padding: 12px 40px; 
    border: 1px solid #FFD700; 
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box; 
}

.input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFD700;
}

.input-container i.bx-user {
    right: 10px; 
}

.input-container i.bx-envelope {
    right: 10px;
}

.toggle-password-label {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #FFD700; 
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #DAA520; 
    outline: none;
}

button {
    width: 100%; 
    padding: 12px;
    background-color: #8B0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #A52A2A; 
}

.signup {
    margin-top: 15px; 
    color: aliceblue; 
    font-size: 20px;
}

.signup a {
    color: #FFD700; 
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline; 
    color: #FFFFFF; 
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none; 
    border: none; 
    color: #FFD700; 
    cursor: pointer;
    font-size: 24px; 
}
